<h1><%= current_user ? "Welcome #{current_user.name}" : 'You need to sign in'%></h1>
<br><br>
<% if current_user %>
  <%= link_to('Sign out', sessions_path(current_user), method: :delete) %>
<% else %>
  <%= link_to('Sign in', new_sessions_path) %>
<% end %>
<p id="notice"><%= notice %></p>

<% @stories.each do |story| %>
  <h4><%= story.title %></h4>
  <img width="400 px"<%= image_tag story.picture %>
  <h5><%= story.content %></h5>
  <p>Author: <%= story.user.name %></p>
  <br>
  <%= link_to 'Show', story %>
  <%= link_to 'Edit', edit_story_path(story) %>
  <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
  <br><br>
<% end %>
<br><br>
<%= link_to 'New Story', new_story_path %>
