<%= current_user ? "Welcome #{current_user.name}" : 'You need to sign in'%>
<br><br>
<% if current_user %>
  <%= link_to('Sign out', sessions_path(current_user), method: :delete) %>
<% else %>
  <%= link_to('Sign in', new_sessions_path) %>
<% end %>
<p id="notice"><%= notice %></p>

<h1>Stories</h1>
  <% @stories.each do |story| %>
    <h4>Title</h4><%= story.title %>
    <h4>Picture</h4><%= story.picture %>
    <h4>Content</h4><%= story.content %>
    <h4>Author</h4><%= story.user_id %>
    <br>
    <%= link_to 'Show', story %>
    <%= link_to 'Edit', edit_story_path(story) %>
    <%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>

<br>

<%= link_to 'New Story', new_story_path %>
