<p id="notice"><%= notice %></p>

<% current_user.stories.each do |story| %>
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Picture:</strong><br>
    <img width="400px"<%= image_tag story.picture %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= story.content %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= story.user.name %>
  </p>

  <%= link_to 'Edit', edit_story_path(@story) %> |
  <%= link_to 'Back', stories_path %>
  <br><br>
<% end %>